#!/usr/bin/make -f
STARTURL ?= https://updates.safing.io/latest/linux_amd64/control/portmaster-start\?installer-build

# We don't build here, we download the built binaries
build:	portmaster-start

%:
	dh $@ --with=systemd

#portmaster.png:
#	convert logo.png -resize 32x32 portmaster.png

portmaster-start:
	curl --fail -o portmaster-start $(STARTURL)

#Don't run strip for go-binaries
override_dh_strip:
