[Desktop Entry]
Name=Portmaster Notifier
GenericName=Application Firewall Notifier
Exec=/var/lib/portmaster/portmaster-start notifier --data=/var/lib/portmaster
Icon=/usr/share/pixmaps/portmaster.png
Terminal=false
Type=Application
Categories=System
