[Desktop Entry]
Name=Portmaster
GenericName=Application Firewall
Exec=/var/lib/portmaster/portmaster-start app --data=/var/lib/portmaster
Icon=/usr/share/pixmaps/portmaster.png
Terminal=false
Type=Application
Categories=System
