[Desktop Entry]
Name=Portmaster Notifier
GenericName=Application Firewall Notifier
Exec=portmaster-control run notifier --data=/var/lib/portmaster
Icon=/usr/share/pixmaps/portmaster.png
Terminal=false
Type=Application
Categories=System
